body {
  font-family: Arial, sans-serif;
  width: 800px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

pre, p {
  background-color:black;
  padding: 10px;
  border: 1px solid #ccc;
  color: white;
}
